<div>
	<form ng-submit="submitSearch()">
		<div class="input-group input-group">
			<input type="text" class="form-control input" placeholder="search" ng-model="model.query"></input>
			<span class="input-group-btn">
				<button class="btn btn-default btn" type="submit">Search</button>
			</span>
		</div>
		<div class="form-group">
			<label class="checkbox-inline">
				<input type="checkbox" ng-model="model.useLocation" ng-change="toggleLocation()">Use my location</input>
			</label>
			<div class="pull-right">
				<label for="select-sort">Sort by:
					<select class="form-control"  id="select-sort" ng-model="model.sort" ng-change="sortChange()">
						<option value="relevance">relevance</option>
						<option value="rating">rating</option>
						<option value="date">date</option>
						<option value="date">title</option>
						<option value="date">viewCount</option>
					</select>
				</label>
			</div>
		</div>
	</form>
	
	<!-- player -->
	<div id="video-player" class="col-md-12" ng-include="'src/templates/player.html'" ng-controller="playerController" ng-show="currentVideo!=null"></div>
	
	<!-- search results -->
	<div id="search-results" class="panel">
		<div class="text-center" ng-show="model.totalResults > 0">
			displaying {{model.results.length}} of {{model.totalResults}} results.
		</div>
			<div ng-repeat="video in model.results">
				<div data-video-item video="video">
					<div class="btn btn-default btn-sm" ng-click="addToWatchLater(video)">Watch Later</div>
				</div>
			</div>
	</div>
</div>
